body { background-color: #FFEFD5;}
p { border: 5px solid #B22222 ;
    color: #00FA9A;
    font-size: 50px ;
    box-shadow: 30px 40px 20px #8B008B;
    background-color: #FFD700;
    text-align: center ;}